@model FinalProjectV2.Data.ViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/style2.css">
    <script src="https://kit.fontawesome.com/92d6f9ab3e.js" crossorigin="anonymous"></script>
</head>

<body>
    <section>
        <div class="advertisements container-fluid">
            <div class="carousel-part row">
            </div>
        </div>
    </section>
    <main class="container">
        <div class="main-hd">
            <ul>
                <li>ƏN ÇOX SATILANLAR</li>
                <li>YENİ MƏHSULLAR</li>
                <li>ƏN ÇOX BAXILANLAR</li>
                <li>ENDİRİMLƏR</li>
            </ul>
        </div>
        <div class="product-part row">
            @{
                foreach (var item in Model.Products)
                {
                    if (item.SalePercent != 0)
                    {
                        decimal saleprice = item.Price - (item.Price * item.SalePercent / 100);
                        <div class="product-box col-md-3">
                            <div class="prp">
                                <div class="product-img">
                                    <img src="~/img/@item.MainPhoto" alt="photo">
                                </div>
                                <a href="@Url.Action("index","specification", new {id = item.Id})" class="product-wrt">@item.Name</a>
                                <ul>
                                    <li><strike>$ @item.Price</strike></li>
                                    <li>$ @saleprice</li>
                                </ul>
                                <p class="product-percent">@item.SalePercent%</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="product-box col-md-3">
                            <div class="prp">
                                <div class="product-img">
                                    <img src="~/img/@item.MainPhoto" alt="photo">
                                </div>
                                <a href="@Url.Action("index","specification", new {id = item.Id})" class="product-wrt">@item.Name</a>
                                <ul>
                                    <li>$ @item.Price</li>
                                </ul>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </main>
    <section class="container ahet">
        <div class="row">
            <div class="ahet-nav col-md-4">
                <div class="ahet-hd">
                    <h5>Televizorlar</h5>
                </div>
                <ul>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container ahet">
        <div class="row">
            <div class="ahet-nav col-md-4">
                <div class="ahet-hd">
                    <h5>Televizorlar</h5>
                </div>
                <ul>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container ahet">
        <div class="row">
            <div class="ahet-nav col-md-4">
                <div class="ahet-hd">
                    <h5>Televizorlar</h5>
                </div>
                <ul>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                    <li>Samsung</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                    <div class="product-box col-md-3">
                        <div class="prp">
                            <div class="product-img">
                                <img src="~/img/551.jpg" alt="photo">
                            </div>
                            <p class="product-wrt">Samsung Galaxy Z Flip SM-F700F/DS</p>
                            <ul>
                                <li><strike>$ 1.914</strike></li>
                                <li>$ 1.914</li>
                            </ul>
                            <p class="product-percent">18%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</body>

</html>